<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
    <form [formGroup]="music_form" (ngSubmit)="formSubmit()">
        <div class="box d-flex justify-content-center">

            <div class="form-group mb-3">
                <input formControlName="name" id="inputName" type="text" placeholder="Please enter an artist name" required=""
                    autofocus="" class="form-control border-0 shadow-sm px-4">
            </div>
            <button type="submit" class="btn-success btn-xss"><mat-icon>search</mat-icon></button>

        </div>
    </form>
</div>

<div *ngIf="!isLogged">
    <button type="submit" class="btn-xs border_radius" (click)="loginSpotify()"><i class="fa fa-spotify"></i> Login with Spotify</button>
</div>
<div *ngIf="isLogged">
    <div class="text-margin-top title">{{ result.name }}</div>
    <img [src]="result.logo" class="space-top image-round">
    <div class="text-margin-top description">Followers: {{ result.followers }}</div>
    <div class="description">Genres: {{ result.genres[0] }} / {{ result.genres[1] }}</div>
    <div class="description">Popularity: {{ result.popularity }}%</div>
</div>