<div>
    <form [formGroup]="city_form" (ngSubmit)="cityFormSubmit()">
        <div class="box d-flex justify-content-center">

            <div class="form-group mb-3">
                <input formControlName="city" id="inputCity" type="text" placeholder="Please enter a city" required=""
                    autofocus="" class="form-control border-0 shadow-sm px-4">
            </div>
            <button type="submit" class="btn-success btn-xs"><mat-icon>search</mat-icon></button>

        </div>
    </form>
</div>
<div id="container-openweathermap-widget-15">
    <link href="//openweathermap.org/themes/openweathermap/assets/vendor/owm/css/openweathermap-widget-right.min.css"
        rel="stylesheet">
    <div class="widget-right_mine weather-right--type1 widget-right--brown">
        <div class="widget-right__header widget-right__header--brown">
            <div class="widget-right__layout">
                <div>
                    <h2 class="widget-right__title">{{this.result.name}}, {{this.result.sys.country}}</h2>
                    <p class="widget-right__description">{{this.result.weather[0].description}}</p>
                </div>
            </div><img src="//openweathermap.org/themes/openweathermap/assets/vendor/owm/img/widgets/{{this.result.weather[0].icon}}.png"
                width="128" height="128" alt="Weather in London, GB"
                class="weather-right__icon weather-right__icon--type1">
        </div>
        <div class="weather-right weather-right--brown">
            <div class="weather-right__layout">
                <div class="weather-right__temperature">{{(this.result.main.temp - 273.15).toFixed()}}<span>°C</span></div>
                <div class="weather-right__weather">
                    <div class="weather-right-card">
                        <table class="weather-right__table">
                            <tbody>
                                <tr class="weather-right__items">
                                    <th colspan="2" class="weather-right__item">Details</th>
                                </tr>
                                <tr class="weather-right__items">
                                    <td class="weather-right__item">Feels like</td>
                                    <td class="weather-right__item weather-right__feels">{{(this.result.main.feels_like - 273.15).toFixed()}}<span>°C</span></td>
                                </tr>
                                <tr class="weather-right__items">
                                    <td class="weather-right__item">Wind</td>
                                    <td class="weather-right__item weather-right__wind-speed">{{this.result.wind.speed.toFixed()}} m/s</td>
                                </tr>
                                <tr class="weather-right-card__items">
                                    <td class="weather-right__item">Humidity</td>
                                    <td class="weather-right__item weather-right__humidity">{{this.result.main.humidity.toFixed()}} %</td>
                                </tr>
                                <tr class="weather-right-card__items">
                                    <td class="weather-right__item">Precip</td>
                                    <td class="weather-right__item"></td>
                                </tr>
                                <tr class="weather-right-card__items">
                                    <td class="weather-right__item">Pressure</td>
                                    <td class="weather-right__item weather-right__pressure">{{this.result.main.pressure.toFixed()}} hPa</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-right__footer widget-right__footer--brown">
            <div class="widget-right__layout"><a href="//openweathermap.org/" target="_blank">
                    <div class="widget-right__logo_black_small"></div>
                </a>
                <div class="widget-right__date"><app-hour-pipe></app-hour-pipe></div>
            </div>
        </div>
    </div>
</div>